{%- block preview_password_widget -%}
    <div class="preview-password-wrapper">
        {{ block('password_widget') }}
        <button type="button" {% with { attr: preview_btn_attr } %}{{ block('attributes') }}{% endwith %}>
            Show
        </button>
    </div>
{%- endblock preview_password_widget -%}